version := "{{artifactVersion}}"
name := "{{artifactId}}"
organization := "{{groupId}}"
scalaVersion := "2.12.10"

libraryDependencies ++= Seq(
  "com.typesafe.play" %% "play-ws" % "2.8.7",
  "com.typesafe.play" %% "play-ahc-ws" % "2.8.7",
  "com.typesafe.play" %% "play-ahc-ws-standalone" % "2.1.2",
  "com.typesafe.play" %% "play-ws-standalone-json" % "2.1.2",
  "com.typesafe.play" %% "play-json" % "2.8.1",
  "com.typesafe.play" %% "play-json-joda" % "2.8.1",
  "joda-time" % "joda-time" % "2.10.3",
  // test dependencies
  "org.scalatest" %% "scalatest" % "3.0.4" % "test",
)

resolvers ++= Seq(Resolver.mavenLocal)

scalacOptions := Seq(
  "-unchecked",
  "-deprecation",
  "-feature"
)

publishArtifact in (Compile, packageDoc) := false
